@charset "utf-8";

* {
    margin: 0;
  }
  
  .gridParent {
    display: grid;
    width: 100vw;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .redBlock {
    background-color: red;
    grid-row: 1 / 9;
    grid-column: 1 / 9;
  }
  
  .HblackLineA {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    grid-row: 9 / 10;
    grid-column: 1 / 13;
    max-height: 2vw;
    min-height: 30px;
    z-index: 200;
    width: 100%;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .HblackLineB {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    grid-row: 9 / 10;
    grid-column: 9 / 13;
    max-height: 2vw;
    min-height: 30px;
    z-index: 1;
  }
  
  .yellowBlock {
    background-color: yellow;
    grid-row: 1 / 9;
    grid-column: 9 / 13;
  }
  
  .blueBlock {
    background-color: blue;
    grid-row: 9 / 14;
    grid-column: 9 / 13;
  }
  
.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.white {
   background-color: white;
}

.study {
  grid-row: 12/30;
  grid-column: 3/9;
  margin: 30px;
}

ol li{
  list-style: none!important;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  margin-left: -40px;
  }

.element {
  margin-bottom: 30px;
  width: 100%;
}

.quote {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 1vw;
  margin-bottom: 10px;
}

.caseImage {
  border: 1px solid black;
}

.bottomLinks {
  display: flex;
  flex-direction: row;
}

.smallCard {
  border: 1px solid black;
  max-width: 96%;
}

  .VblackLine {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    background-color: black;
    grid-row: 1 / 100;
    grid-column: 9 / 10;
    min-width: 30px;
    max-width: 2vw;
    z-index: 201;
    padding-top: 3vh;
  }
  
  .HblackLineC {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    grid-row: 14 / 15;
    grid-column: 9 / 13;
    max-height: 2vw;
    min-height: 30px;
    z-index: 2;
  }

  .toolsBlock {
    grid-row: 15/28;
    grid-column: 9/13;
    display: grid;
    grid-template-rows: 7vw 7vw 7vw 7vw;
    grid-template-columns: 1fr 1fr;
  }

  .toolPic {
    height: 6vw;
    margin-left: 7vw;
  }

  .art {
    padding-top: 5vw;
    grid-column: 1/3;
    margin-left: 70px;
    margin-right: 20px
  }

  .art img {
    max-width: 96%;
    margin-top: 30px;
  }

  .works {
    display: flex;
    flex-direction: column;
    grid-row: 12 / 24;
    grid-column: 4 / 9;
    margin-right: 50px; 
  }

  .para {
    margin-top: 0px;
    grid-row: 2/3;
  }

  .card {
    border: 1px solid black;
    max-width: 97%;
    justify-items: center;
    margin: 0px 30px 30px 30px;
  }

  .about {
    grid-row: 10 / 23;
    grid-column: 1 / 5;
  }

  .caseHead {
    grid-row: 10/23;
    grid-column: 1/9;
    margin: 0vw 2vw 0.5vw 2vw;
  }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

  .footerBlackLine {
    background-color: black;
    grid-row: 23 / 24;
    grid-column: 1 / 13;
    max-height: 2vw;
    min-height: 30px;
  }

  .footerVblackLine {
    background-color: black;
    min-width: 30px;
    max-width: 2vw;
    z-index: 3;
    grid-row: 1/2;
    grid-column: 9/10;
  }
  
  .whiteChunk {
    background-color: white;
    grid-row: 1/2;
    grid-column: 9/13;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 8vh;
  overflow-x: visible;
}

.about h1 {
  margin-top: 5vw;
  margin: 0vw 2vw 0.5vw 2vw;
}

.about h4 {
  margin: 0vw 2vw 0.5vw 2vw;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  font-weight: 300;
  
}

  h3 {
    display: flex;
    justify-content: space-evenly; 
    color: white;
    font-size:calc(12px + 1.5vw);
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    align-items: center;
    letter-spacing: 0.5em;
  }

h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  font-weight: 300;
}

  p {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
  }
  
.link {
  color: blue;
  text-decoration: none;
}

.right {
  display: block;
  float: right;
}

.bio {
  margin: 2vw;
  font-size: 1em;
}


  .verText {
    transform: rotate(270deg);
    white-space: nowrap;
    justify-content: flex-end;
    max-width: 2vw;
    max-height: 2vw;
    position: fixed;
    z-index: 20;
    letter-spacing: 0.5em;
  }
  
  .port {
    margin-left: 15vw;
  }


  .bottom {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh;
  }

  .yellowBottom {
    background-color: yellow;
    grid-column: 1/9;
    grid-row: 1/2;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    grid-column: 7/9;
    align-items: center;
    justify-content: space-between;
    margin: 8.5vh 30px 0px 15px;
    flex-wrap: wrap;
  }

  i {
    color: black;
    font-size: 1.2em;
  }

  button {
    background-color: black;
    color: yellow;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    letter-spacing: .5em;
    padding-left: 11px;
    cursor: pointer;
  }

  .fa-copyright {
    padding-right: 10px;
  }
  
  @media only screen and (max-width: 1000px) {
    .gridParent {
      grid-template-columns: 1fr;
      grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh min-content 1fr;
      width: 100%;
    }
    
    .redBlock {
      grid-row: 1 / 9;
      grid-column: 1 / 2;
    }

    .HblackLineA {
      grid-column: 1 / 2;
      grid-row: 9 / 10;
    }

    .sticky {
      grid-column: 1/2;
      width: calc(100%-30px);
    }
    
    .about {
      grid-column: 1 / 2;
      grid-row: 9 / 12;
      justify-self: center;
      align-self: center;
      margin-left: 30px;
    }

    .study {
      grid-column: 1/2;
      grid-row: 18/-1;
    }

    .blackLineExtra {
      grid-column: 1 / 2;
      grid-row: 16/17;
      display: flex;
      justify-content: space-evenly;
      background-color: black;
      max-height: 2vw;
      min-height: 30px;
      z-index: 100;
    }

    .works {
      grid-column: 1 / 2;
      grid-row: 16 / 26;
      justify-self: center;
      margin-right: 0px;
      margin-top: 60px;
    }

    .card {
      width: calc(100% - 30px);
      margin: 0px 0px 30px 30px;
      border-style: solid none none;
    }

    .HblackLineB {
      grid-column: 1 / 2;
      grid-row: 12 / 13;
    }

    .HblackLineC {
      display: none;
    }

    .toolsBlock {
      display: none;
    }

    .study {
      margin-left: 60px;
    }

    .caseHead {
      margin-left: 30px;
    }

    .caseHead h1 {
      font-size: 5vh;
      margin-top: -10px;
    }

    .element {
      width: 96%;
    }

    .yellowBlock {
      display: none;
    }
    
    .blueBlock {
      grid-column: 1 / 2;
      grid-row: 12 / 16;
    }
    
    .VblackLine {
      grid-column: 1 / 2;
    }

    .fvblLeft {
      background-color: black;
      grid-column: 1/2;
      grid-row: 1/2;
      width: 30px;
    }
    
    .port {
      margin-left: 20px;
      float: right;
      letter-spacing: 0.3em;
    }
    
    .eric {
      margin-left: 30px;
    }

    li {
      margin-bottom: 5px;
    }

    .whiteChunk {
      background-color: none;
      grid-row: 1/2;
      grid-column: 9/13;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 2vw;
    }

    .fa-copyright {
      margin-left: 5vw
    }

  }

  @media only screen and (max-width: 370px) {
    
    h3 {
      font-size:calc(6px + 1.5vw);
      letter-spacing: 0.65em;
    }
    
    .port {
      margin-left: 5vw;
      float: right;
    }
    
    .eric {
      margin-left: 30px;
    }

  }
  
  @media only screen and (min-width: 1500px) {

    .art {
      margin-left: 8vw;
      margin-right: 8vw;
    }
  
    .art img {
      max-height: 500px;
      margin-top: 30px;
    }
  }
